*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
body {
    min-height: 100vh;
    margin: 0;
    color: $color-grey-dark-1;
  }

button, select, option {
  font-size: 1.6rem;
}

.header, 
.main, 
.footer {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

h2, h3, h4, h5 {
  color: $color-primary-5;
}

