*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    color: $color-grey-dark-1;
    font-family: $default-font;

    @include respond(-large) {
        font-size: 56.25%;
    }
    @include respond(-medium) {
        font-size: 50%;
    }
    @include respond(-largest) {
        font-size: 75%;
    }
}
  
main {
    min-height: 85vh;
    margin: 0;
}

header, 
body,
main, 
footer,
button, 
select, 
option {
    font-size: 1.6rem;
}

h2, h3, h4, h5 {
    color: $color-primary-5;
}