.scroll {
    overflow-y: scroll;
    border: 0.1rem solid;
    border-color: #f2f3f3;
    height: 60rem;
  }

.loading {
  display: flex;
  font-size: 3rem;
  font-weight: 100;
  color: $color-primary-4;
  margin-left: 7rem;
}

