$color-primary-1: #e4e8eb;
$color-primary-5: #0E2B42;

$color-secondary-5: #872B3A;

$color-tertiary-5: #F0C74A;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f2f2f2;

$color-grey-dark-1:#333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$default-font: 'Roboto', sans-serif;
$default-font-size: 1.6rem;