// color

$color-primary-1: #7B91A3;
$color-primary-2: #537087;
$color-primary-3: #355670;
$color-primary-4: #21445C;
$color-primary-5: #0E2B42;

$color-secondary-1: #EFB0BA;
$color-secondary-2: #C67481;
$color-secondary-3: #A44857;
$color-secondary-4: #872B3A;
$color-secondary-5: #610F1C;

$color-tertiary-1: #F0C74A;
$color-tertiary-2: #FFDC71;


$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3:#f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1:#333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

// grid

$grid-width: 114rem;
$gutter-vertical-small: 6rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 5rem;