@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  min-height: 100vh;
  margin: 0;
  color: #333; }

button, select, option {
  font-size: 1.6rem; }

.header,
.main,
.footer {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

h2, h3, h4, h5 {
  color: #0E2B42; }

.scroll {
  overflow-y: scroll;
  border: 0.1rem solid;
  border-color: #f2f3f3;
  height: 60rem; }

.loading {
  display: flex;
  font-size: 3rem;
  font-weight: 100;
  color: #21445C;
  margin-left: 7rem; }

.container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 7vh auto auto;
  grid-template-columns: 1fr; }

.header {
  grid-area: header;
  background-color: #0E2B42;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 1rem;
  align-content: center;
  justify-content: flex-start;
  font-size: 2rem;
  padding: 2rem; }
  .header a {
    color: #faf9f9;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.55rem;
    transition: all 0.1s ease; }
    .header a:hover {
      background-color: rgba(250, 249, 249, 0.1); }

.main {
  grid-area: main; }

.footer {
  grid-area: footer;
  background-color: #0E2B42;
  text-align: center;
  color: #faf9f9;
  padding: 2rem; }
  .footer a {
    color: #faf9f9;
    text-transform: uppercase;
    text-decoration: none; }

.products-screen__content {
  display: grid;
  grid-template-rows: [row-filter-start] 7rem [row-filter-end row-list-start] auto [row-list-end];
  grid-template-columns: [col-list-start] 1fr [col-list-end col-sidebar-start] 24vw [col-sidebar-end]; }
  @media only screen and (max-width: 75em) {
    .products-screen__content {
      grid-template-columns: [col-list-start] 1fr [col-list-end col-sidebar-start] 25vw [col-sidebar-end]; } }
  @media only screen and (max-width: 62.5em) {
    .products-screen__content {
      grid-template-columns: [col-list-start] 1fr [col-list-end col-sidebar-start] 26vw [col-sidebar-end]; } }
  @media only screen and (max-width: 53.125em) {
    .products-screen__content {
      grid-template-rows: [row-filter-start] 10rem [row-filter-end row-list-start] 1fr [row-list-end row-sidebar-start] auto [row-sidebar-end];
      grid-template-columns: [col-list-start] 1fr [col-sidebar-end]; } }

.products-screen__filter {
  grid-row: row-filter-start / row-filter-end;
  grid-column: col-list-start / col-list-end;
  padding: 1.3rem;
  padding-top: 1.8rem;
  background-color: #faf9f9; }

.products-screen__list {
  grid-row: row-list-start / row-list-end;
  grid-column: col-list-start / col-list-end;
  margin: 2rem; }
  @media only screen and (max-width: 75em) {
    .products-screen__list {
      margin: 1.5rem; } }
  @media only screen and (max-width: 53.125em) {
    .products-screen__list {
      margin: 2rem; } }

.products-screen__sidebar {
  grid-row: row-filter-start / row-list-end;
  grid-column: col-sidebar-start / col-sidebar-end;
  align-self: flex-start;
  background-color: #f2f2f2; }
  @media only screen and (max-width: 53.125em) {
    .products-screen__sidebar {
      grid-row: row-sidebar-start / row-sidebar-end;
      grid-column: col-list-start / col-sidebar-end; } }

.cart {
  display: grid;
  grid-template-rows: [header-start] 10vh [header-end item-start] max-content [item-end total-start] max-content [total-end];
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  padding: 2rem;
  padding-top: 2.5rem; }
  @media only screen and (max-width: 53.125em) {
    .cart {
      grid-template-rows: [header-start] auto [header-end item-start] auto [item-end total-start] auto [total-end];
      grid-row-gap: 3rem;
      padding: 5rem 18vw; } }
  .cart__header {
    grid-row: header-start / header-end;
    text-align: center; }
  .cart__items {
    grid-row: item-start / item-end;
    display: flex;
    flex-direction: column; }
  .cart__item {
    display: grid;
    grid-template-columns: min-content 1fr max-content 1fr;
    justify-items: flex-start;
    align-items: flex-start;
    padding: 1rem;
    background-color: #faf9f9;
    border: 0.1rem solid #f2f2f2;
    border-radius: 2px; }
    @media only screen and (max-width: 53.125em) {
      .cart__item {
        grid-template-columns: min-content max-content 1fr 0.5fr;
        grid-column-gap: 1rem; } }
    .cart__item:not(:last-child) {
      margin-bottom: 1rem; }
  .cart__item-image {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    width: 5rem;
    margin-right: 1rem; }
    @media only screen and (max-width: 53.125em) {
      .cart__item-image {
        margin-right: 0; } }
  .cart__item-title {
    grid-row: 1 / 2;
    grid-column: 2 / -1; }
  .cart__item-size {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: flex-end; }
  .cart__item-amount {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    align-self: flex-end; }
  .cart__item-remove-btn {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    align-self: flex-end;
    justify-self: flex-end;
    margin-bottom: -0.3rem;
    border: none;
    background-color: transparent;
    cursor: pointer; }
    .cart__item-remove-btn:focus {
      outline: none; }
  .cart__item-remove-svg {
    width: 2rem;
    height: 2rem;
    fill: #0E2B42; }
    @media only screen and (max-width: 75em) {
      .cart__item-remove-svg {
        width: 1.9rem;
        height: 1.9rem; } }
    @media only screen and (max-width: 62.5em) {
      .cart__item-remove-svg {
        width: 1.8rem;
        height: 1.8rem; } }
  .cart__about-to-proceed {
    grid-row: total-start / total-end; }
  .cart__total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 0;
    margin-top: 3rem;
    margin-bottom: 4rem; }
  .cart__amount {
    padding: 2rem;
    align-self: stretch;
    margin-bottom: 2rem;
    background-color: #e4e8eb;
    border-radius: 2px; }
  .cart__number {
    margin-top: 2rem; }

.form__container {
  display: grid;
  grid-row-gap: 2rem; }
  .form__container li {
    list-style: none; }
  .form__container button {
    justify-self: flex-end; }

.form__input {
  background-color: #e4e8eb;
  padding: 0.7rem;
  border: none;
  width: 100%;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #999; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #872B3A; }

.form__label {
  margin-bottom: 0.8rem;
  display: block; }

.order__modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(242, 242, 242, 0.85);
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.3);
  width: 65vw;
  height: 75vh;
  padding: 7rem 0;
  overflow-y: scroll; }

.order__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem; }

.order__details ul {
  padding: 0 4rem;
  padding-top: 3rem; }

.order__details li {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .order__details li:not(:last-child) {
    margin-bottom: 1.5rem; }

.order__details li div {
  padding: 5px; }

.order__success-message {
  color: #F0C74A;
  margin-bottom: 2rem; }

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  justify-items: center;
  list-style-type: none; }
  @media only screen and (max-width: 75em) {
    .products {
      grid-column-gap: 1.5rem;
      grid-row-gap: 2rem; } }

.product {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem; }
  .product__image img {
    width: 100%;
    opacity: 1;
    transition: .3s ease; }
  .product__image img:hover {
    opacity: 0.7; }
  .product__title:link, .product__title:visited {
    color: #333;
    font-size: 1.6rem;
    text-decoration: none;
    font-family: "Roboto", sans-serif; }
  .product__price {
    display: flex;
    justify-content: space-between; }

.filter {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) max-content max-content max-content;
  grid-column-gap: 3vw;
  align-items: center;
  margin: 0 3rem; }
  @media only screen and (max-width: 53.125em) {
    .filter {
      grid-template-rows: max-content max-content;
      grid-row-gap: 1.2rem; } }
  @media only screen and (max-width: 53.125em) {
    .filter__result {
      grid-row: 1 / 2;
      grid-column-gap: 1 / 5; } }
  @media only screen and (max-width: 53.125em) {
    .filter__search {
      grid-row: 2 / 3;
      grid-column: 1 / 2; } }
  @media only screen and (max-width: 34.375em) {
    .filter__search {
      grid-row: 1 / 2;
      grid-column: 2 / 4; } }
  @media only screen and (max-width: 53.125em) {
    .filter__size {
      grid-row: 2 / 3;
      grid-column: 2 / 3; } }
  @media only screen and (max-width: 53.125em) {
    .filter__sort {
      grid-row: 2 / 3;
      grid-column: 3 / 4; } }
  .filter__search, .filter__sort, .filter__size {
    display: flex;
    align-items: center; }
    .filter__search--svg, .filter__sort--svg, .filter__size--svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: #0E2B42;
      margin-right: 1rem; }
      @media only screen and (max-width: 75em) {
        .filter__search--svg, .filter__sort--svg, .filter__size--svg {
          width: 2.4rem;
          height: 2.4rem; } }
  .filter__size--svg {
    width: 2rem;
    height: 2rem; }
    @media only screen and (max-width: 75em) {
      .filter__size--svg {
        width: 1.9rem;
        height: 1.9rem; } }
    @media only screen and (max-width: 62.5em) {
      .filter__size--svg {
        width: 1.8rem;
        height: 1.8rem; } }
  .filter__form {
    color: #777;
    padding: 0.3rem;
    background-color: transparent;
    border: 0.2rem solid #0E2B42;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem; }
    @media only screen and (max-width: 62.5em) {
      .filter__form {
        padding: 0.1rem; } }
    .filter__form:focus {
      outline: none; }
    .filter__form--input {
      padding-right: 2.2rem;
      padding-left: 2.2rem;
      width: 70%;
      transition: all 0.3s ease; }
      @media only screen and (max-width: 34.375em) {
        .filter__form--input {
          width: 100%;
          margin-left: -0.2rem;
          padding-right: 0.6rem; } }
      .filter__form--input:focus {
        width: 80%;
        background-color: transparent; }
        @media only screen and (max-width: 34.375em) {
          .filter__form--input:focus {
            width: 100%; } }
      .filter__form--input::-webkit-input-placeholder {
        color: #777; }

.btn-1 {
  color: #333;
  border-radius: 3px;
  text-decoration: none;
  transition-duration: all 0.4s;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  transition: all ease;
  padding: 0.5rem 3vw;
  border: 2px solid #0E2B42;
  background-color: #0E2B42;
  color: #faf9f9; }
  .btn-1:hover {
    transform: translateY(-0.15rem); }
  .btn-1:active {
    transform: translateY(0); }

.close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1000;
  border: none; }
  .close-btn:hover {
    cursor: pointer; }
  .close-btn:focus {
    outline: none; }

.close-svg {
  width: 2rem;
  height: 2rem;
  fill: #0E2B42; }

.googlemap__size {
  width: 40vw;
  height: 100vh; }

.home__container {
  display: grid;
  grid-template-columns: [col-store-start] 1fr [col-store-end col-map-start] min-content [col-map-end];
  grid-template-rows: [row-store-start] 50vh [row-store-end row-gallery-start] min-content [row-gallery-end]; }

.home__store {
  grid-column: col-store-start / col-store-end;
  grid-row: row-store-start / row-store-end;
  padding: 2rem; }

.home__map {
  grid-column: col-map-start / col-map-end;
  grid-row: row-store-start / row-gallery-end;
  justify-self: flex-end; }

.home__gallery {
  grid-column: col-store-start / col-store-end;
  grid-row: row-gallery-start / row-gallery-end; }

.store__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-gap: 0.5rem;
  align-items: center;
  justify-items: flex-start;
  padding: 0.5rem;
  background-color: #faf9f9;
  color: #333;
  list-style: none; }

.store__information {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: minmax(3vw, min-content) minmax(5vw, min-content) min-content;
  grid-column-gap: 0.5rem;
  padding: 1rem; }

.store__name {
  grid-column: 1 / 3; }

.store__address {
  grid-column: 2 / 3; }
  .store__address--svg {
    grid-column: 1 / 2;
    margin-top: 0.2rem;
    width: 1.8rem;
    height: 1.8rem;
    fill: #0E2B42; }

.store__tel {
  grid-column: 1 / 2;
  grid-column: 2 / 3; }
  .store__tel--svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: #0E2B42; }

.store__online-btn {
  border: 2px solid #0E2B42;
  margin-left: 1.3rem; }

.gallery__photo {
  margin: -1.6rem; }

.orders {
  width: 100%;
  padding: 3rem; }

tbody > tr:nth-child(odd) {
  background-color: #f0f0f0; }

table {
  margin: 1rem;
  padding: 1rem;
  background-color: #faf9f9; }

td {
  padding: 1rem; }

th {
  text-align: left; }

.modal__modal-size {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(242, 242, 242, 0.85);
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.3);
  width: 70vw;
  outline: none; }
  @media only screen and (max-width: 53.125em) {
    .modal__modal-size {
      width: 60vw;
      height: 70vh;
      overflow-y: scroll; } }

.modal__container {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  justify-content: flex-start; }
  @media only screen and (max-width: 53.125em) {
    .modal__container {
      justify-content: center; } }

.modal__info {
  display: grid;
  grid-template-columns: min-content 35vw;
  grid-template-rows: auto;
  grid-column-gap: 6rem;
  padding: 2rem; }
  @media only screen and (max-width: 75em) {
    .modal__info {
      grid-column-gap: 5rem; } }
  @media only screen and (max-width: 62.5em) {
    .modal__info {
      grid-template-columns: min-content 34vw;
      grid-column-gap: 3rem;
      padding: 1.5rem; } }
  @media only screen and (max-width: 53.125em) {
    .modal__info {
      padding: 3rem;
      grid-template-columns: min-content;
      grid-template-rows: min-content auto;
      row-gap: 2rem; } }

.modal__img {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 25vw; }
  @media only screen and (max-width: 53.125em) {
    .modal__img {
      grid-row: 2 / 3;
      width: 42vw; } }

.modal__detail {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 1rem; }
  @media only screen and (max-width: 53.125em) {
    .modal__detail {
      grid-row: 1 / 2;
      grid-column: 1 / 2; } }

.modal__title {
  margin-bottom: 1rem; }

.modal__description {
  margin-bottom: 2rem;
  padding-bottom: 4rem; }
  @media only screen and (max-width: 75em) {
    .modal__description {
      margin-bottom: 1.5rem;
      padding-bottom: 3rem; } }
  @media only screen and (max-width: 62.5em) {
    .modal__description {
      margin-bottom: 1rem;
      padding-bottom: 2rem; } }

.modal__sq-form {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  grid-column-gap: 3.5rem;
  justify-items: flex-start;
  align-items: flex-start;
  padding-top: 2rem;
  border-top: 0.2rem solid #0E2B42; }
  .modal__sq-form h4 {
    margin-bottom: 1rem; }

.modal__sq-size {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.modal__sq-btn {
  justify-self: flex-end; }

.modal__radio {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  margin-left: -0.3rem; }
  .modal__radio input {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.5rem; }

.modal__sq-quantity :focus {
  outline: none; }

.modal__sq-quantity select {
  padding: 0 0.5rem;
  font-family: inherit;
  color: #333; }

.home {
  margin-top: 10rem; }
  .home__heading {
    margin-bottom: 3rem;
    text-align: center; }
  .home__look-box {
    opacity: 1;
    transition: all 0.3s; }
    .home__look-box:hover {
      transform: translateY(-0.2rem) scale(1.03);
      opacity: 0.5; }

.modal {
  display: inline-block; }
  .modal__left {
    position: fixed;
    height: 100%;
    width: 50%; }
