@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: #333;
  font-family: "Roboto", sans-serif; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

main {
  min-height: 85vh;
  margin: 0; }

header,
body,
main,
footer,
button,
select,
option {
  font-size: 1.6rem; }

h2, h3, h4, h5 {
  color: #0E2B42; }

.loading {
  display: flex;
  font-size: 3rem;
  font-weight: 100;
  color: #0E2B42;
  margin-left: 7rem; }

.orders {
  margin: 2rem;
  padding: 3rem;
  background-color: #faf9f9; }
  .orders tbody > tr:nth-child(odd) {
    background-color: #e4e8eb; }
  .orders table {
    margin: 1rem;
    padding: 1rem; }
  .orders td {
    padding: 1rem; }
  .orders th {
    text-align: left;
    padding: 1rem; }

.btn-1 {
  color: #333;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  transition: all ease;
  padding: 0.5rem 3vw;
  border: 2px solid #0E2B42;
  background-color: #0E2B42;
  color: #faf9f9; }
  .btn-1:hover {
    transform: translateY(-0.15rem); }
  .btn-1:active {
    transform: translateY(0); }

.close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1000;
  border: none; }
  .close-btn:hover {
    cursor: pointer; }
  .close-btn:focus {
    outline: none; }

.close-svg {
  width: 2rem;
  height: 2rem;
  fill: #0E2B42; }

.cart {
  display: grid;
  grid-template-rows: [header-start] 7rem [header-end item-start] auto [item-end total-start] auto [total-end];
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  padding: 2.2rem 2rem 2rem 2rem; }
  @media only screen and (max-width: 53.125em) {
    .cart {
      grid-template-rows: [header-start] auto [header-end item-start] auto [item-end total-start] auto [total-end];
      grid-row-gap: 3rem;
      padding: 8rem 18vw; } }
  .cart__header {
    grid-row: header-start / header-end;
    text-align: center; }
    @media only screen and (max-width: 53.125em) {
      .cart__header {
        margin-bottom: 1rem; } }
  .cart__items {
    grid-row: item-start / item-end;
    display: flex;
    flex-direction: column; }
  .cart__item {
    display: grid;
    grid-template-columns: auto 1fr max-content 1fr;
    justify-items: flex-start;
    align-items: flex-start;
    padding: 1rem;
    background-color: #faf9f9;
    border-radius: 2px; }
    @media only screen and (max-width: 53.125em) {
      .cart__item {
        grid-template-columns: min-content max-content 1fr 0.5fr;
        grid-column-gap: 1rem; } }
    .cart__item:not(:last-child) {
      margin-bottom: 1rem; }
  .cart__item-image {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    width: 5rem;
    margin-right: 1rem; }
    @media only screen and (max-width: 53.125em) {
      .cart__item-image {
        width: 6rem;
        margin-right: 0; } }
  .cart__item-title {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    text-transform: uppercase; }
  .cart__item-size {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: flex-end; }
  .cart__item-amount {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    align-self: flex-end; }
  .cart__item-remove-btn {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    align-self: flex-end;
    justify-self: flex-end;
    margin-bottom: -0.4rem;
    background-color: transparent;
    border: none;
    cursor: pointer; }
    .cart__item-remove-btn:focus {
      outline: none; }
    @media only screen and (max-width: 75em) {
      .cart__item-remove-btn {
        margin-bottom: -0.2rem; } }
    @media only screen and (max-width: 62.5em) {
      .cart__item-remove-btn {
        margin-bottom: -0.4rem; } }
  .cart__item-remove-svg {
    width: 1.9rem;
    height: 1.9rem;
    fill: #0E2B42; }
    @media only screen and (max-width: 75em) {
      .cart__item-remove-svg {
        width: 1.8rem;
        height: 1.8rem; } }
    @media only screen and (max-width: 62.5em) {
      .cart__item-remove-svg {
        width: 1.7rem;
        height: 1.7rem; } }
  .cart__total-form-box {
    grid-row: total-start / total-end; }
  .cart__total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 4rem 0 5rem 0; }
  .cart__amount {
    align-self: stretch;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #e4e8eb;
    border-radius: 2px; }
  .cart__number {
    margin-top: 2rem; }

.form {
  display: grid;
  grid-row-gap: 2rem; }
  .form li {
    list-style: none; }
  .form button {
    justify-self: flex-end; }
  .form label {
    margin-bottom: 0.8rem;
    display: block; }
  .form input {
    background-color: #e4e8eb;
    padding: 0.7rem;
    border: none;
    width: 100%;
    border-radius: 2px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s; }
    .form input:focus {
      outline: none;
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #999; }
    .form input:focus:invalid {
      border-bottom: 3px solid #872B3A; }

.filter {
  display: grid;
  grid-template-columns: 1fr repeat(3, max-content);
  grid-column-gap: 3rem;
  align-items: center;
  margin: 0 3rem; }
  @media only screen and (max-width: 53.125em) {
    .filter {
      grid-template-rows: repeat(2, max-content max-content);
      grid-row-gap: 1.2rem; } }
  @media only screen and (max-width: 53.125em) {
    .filter__result {
      grid-row: 1 / 2;
      grid-column: 1 / -1; } }
  @media only screen and (max-width: 53.125em) {
    .filter__search {
      grid-row: 2 / 3;
      grid-column: 1 / 2; } }
  @media only screen and (max-width: 34.375em) {
    .filter__search {
      grid-row: 1 / 2;
      grid-column: 2 / 4; } }
  .filter__search input {
    padding-right: 3rem;
    padding-left: 0.6rem;
    width: 70%;
    transition: all 0.3s ease; }
    @media only screen and (max-width: 34.375em) {
      .filter__search input {
        width: 100%;
        margin-left: -0.2rem;
        padding-right: 0.5rem; } }
    .filter__search input:focus {
      width: 80%;
      background-color: transparent; }
      @media only screen and (max-width: 34.375em) {
        .filter__search input:focus {
          width: 100%; } }
    .filter__search input::-webkit-input-placeholder {
      color: #777; }
  @media only screen and (max-width: 53.125em) {
    .filter__size {
      grid-row: 2 / 3;
      grid-column: 2 / 3; } }
  @media only screen and (max-width: 53.125em) {
    .filter__sort {
      grid-row: 2 / 3;
      grid-column: 3 / 4; } }
  .filter__search, .filter__sort, .filter__size {
    display: flex;
    align-items: center; }
    .filter__search--svg, .filter__sort--svg, .filter__size--svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: #0E2B42;
      margin-right: 1rem; }
      @media only screen and (max-width: 75em) {
        .filter__search--svg, .filter__sort--svg, .filter__size--svg {
          width: 2.4rem;
          height: 2.4rem; } }
  .filter__size--svg {
    width: 2rem;
    height: 2rem; }
    @media only screen and (max-width: 75em) {
      .filter__size--svg {
        width: 1.9rem;
        height: 1.9rem; } }
    @media only screen and (max-width: 62.5em) {
      .filter__size--svg {
        width: 1.8rem;
        height: 1.8rem; } }
  .filter__form {
    color: #777;
    padding: 0.3rem;
    background-color: transparent;
    border: 0.2rem solid #0E2B42;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem; }
    @media only screen and (max-width: 62.5em) {
      .filter__form {
        padding: 0.2rem; } }
    .filter__form:focus {
      outline: none; }

.product-modal__width-height {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(242, 242, 242, 0.85);
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.3);
  width: 70vw; }
  .product-modal__width-height:focus {
    outline: none; }
  @media only screen and (max-width: 53.125em) {
    .product-modal__width-height {
      width: 60vw;
      height: 70vh;
      overflow-y: scroll; } }

.product-modal__container {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  justify-content: flex-start; }
  @media only screen and (max-width: 53.125em) {
    .product-modal__container {
      justify-content: center; } }

.product-modal__info {
  display: grid;
  grid-template-columns: min-content 35vw;
  grid-template-rows: auto;
  grid-column-gap: 6rem;
  padding: 2rem;
  height: 75vh; }
  @media only screen and (max-width: 75em) {
    .product-modal__info {
      grid-column-gap: 5rem;
      height: 60vh;
      padding: 1.5rem; } }
  @media only screen and (max-width: 62.5em) {
    .product-modal__info {
      height: 55vh;
      grid-column-gap: 3rem;
      padding: 1rem; } }
  @media only screen and (max-width: 53.125em) {
    .product-modal__info {
      padding: 3.5rem;
      grid-template-columns: min-content;
      grid-template-rows: min-content auto;
      grid-column-gap: 2rem;
      grid-row-gap: 2rem; } }
  @media only screen and (max-width: 53.125em) {
    .product-modal__info {
      padding: 1rem; } }

.product-modal__images {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 53.125em) {
    .product-modal__images {
      grid-row: 2 / 3;
      overflow-y: visible;
      padding-bottom: 3rem; } }

.product-modal__image {
  width: 25vw;
  padding: 1rem; }
  .product-modal__image:not(:last-child) {
    margin-bottom: 0.5rem; }
  @media only screen and (max-width: 53.125em) {
    .product-modal__image {
      width: 42vw; } }

.product-modal__details {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 1rem; }
  @media only screen and (max-width: 75em) {
    .product-modal__details {
      padding: 3rem; } }
  @media only screen and (max-width: 53.125em) {
    .product-modal__details {
      grid-row: 1 / 2;
      grid-column: 1 / 2; } }

.product-modal__title {
  margin-bottom: 1rem; }

.product-modal__description {
  margin-bottom: 2rem;
  padding-bottom: 4rem; }
  @media only screen and (max-width: 75em) {
    .product-modal__description {
      margin-bottom: 1.5rem;
      padding-bottom: 3rem; } }
  @media only screen and (max-width: 62.5em) {
    .product-modal__description {
      margin-bottom: 1rem;
      padding-bottom: 2rem; } }

.product-modal__form {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  grid-column-gap: 3.5rem;
  justify-items: flex-start;
  align-items: flex-start;
  padding-top: 2rem;
  border-top: 0.2rem solid #0E2B42; }
  .product-modal__form h4 {
    margin-bottom: 1rem; }
  .product-modal__form button {
    justify-self: flex-end; }

.product-modal__size {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.product-modal__size-option {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  margin-left: -0.3rem; }
  .product-modal__size-option input {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.5rem; }

.product-modal__quantity :focus {
  outline: none; }

.product-modal__quantity select {
  padding: 0 0.5rem;
  font-family: inherit;
  color: #333; }

.order-modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(242, 242, 242, 0.85);
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.3);
  width: 65vw;
  height: 75vh;
  padding: 7rem 0;
  overflow-y: scroll; }
  .order-modal:focus {
    outline: none; }
  .order-modal__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem; }
    .order-modal__info ul {
      padding: 0 4rem;
      padding-top: 3rem; }
    .order-modal__info li {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .order-modal__info li:not(:last-child) {
        margin-bottom: 1.5rem; }
      .order-modal__info li div {
        padding: 5px; }
  .order-modal__message {
    color: #F0C74A;
    margin-bottom: 2rem; }

.product {
  display: grid;
  grid-template-columns: repeat(3, minmax(25rem, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 2rem;
  padding: 2rem;
  justify-items: center;
  list-style-type: none; }
  @media only screen and (max-width: 75em) {
    .product {
      grid-column-gap: 1.5rem;
      grid-row-gap: 2rem;
      padding: 1.5rem; } }
  @media only screen and (max-width: 53.125em) {
    .product {
      grid-template-columns: repeat(2, minmax(15rem, 1fr)); } }
  .product__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem; }
  .product__image img {
    width: 100%;
    opacity: 1;
    transition: 0.3s ease; }
  .product__image img:hover {
    opacity: 0.7; }
  .product__title:link, .product__title:visited {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    color: #333;
    text-decoration: none; }

.container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 7vh auto auto;
  grid-template-columns: 1fr; }
  .container__header {
    grid-area: header;
    background-color: #0E2B42;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-column-gap: 1rem;
    align-content: center;
    justify-content: flex-start;
    font-size: 2rem;
    padding: 2rem; }
    .container__header a {
      color: #faf9f9;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.55rem;
      transition: all 0.1s ease; }
      .container__header a:hover {
        background-color: rgba(250, 249, 249, 0.1); }
  .container__main {
    grid-area: main; }
  .container__footer {
    grid-area: footer;
    background-color: #0E2B42;
    text-align: center;
    color: #faf9f9;
    padding: 2rem; }
    .container__footer a {
      color: #faf9f9;
      text-transform: uppercase;
      text-decoration: none; }

.home {
  display: grid;
  grid-template-columns: [col-store-start] 1fr [col-store-end col-map-start] 1fr [col-map-end];
  grid-template-rows: [row-store-start] max-content [row-store-end];
  align-items: flex-start; }
  @media only screen and (max-width: 62.5em) {
    .home {
      grid-template-columns: [col-store-start] 1fr [col-store-end];
      grid-template-rows: [row-store-start] min-content [row-store-end row-map-start] min-content [row-map-end]; } }
  .home__store {
    grid-column: col-store-start / col-store-end;
    grid-row: row-store-start / row-store-end;
    padding: 2rem; }
    @media only screen and (max-width: 62.5em) {
      .home__store {
        grid-column: col-store-start / col-store-end;
        grid-row: row-store-start / row-store-end; } }
  .home__map {
    grid-column: col-map-start / col-map-end;
    grid-row: row-store-start / row-store-end; }
    @media only screen and (max-width: 62.5em) {
      .home__map {
        grid-column: col-store-start / col-store-end;
        grid-row: row-map-start / row-map-end;
        justify-self: center; } }

.products {
  display: grid;
  grid-template-rows: [row-filter-start] 7rem [row-filter-end row-list-start] auto [row-list-end];
  grid-template-columns: [col-list-start] 1fr [col-list-end col-sidebar-start] 24vw [col-sidebar-end]; }
  @media only screen and (max-width: 75em) {
    .products {
      grid-template-columns: [col-list-start] 1fr [col-list-end col-sidebar-start] 25vw [col-sidebar-end]; } }
  @media only screen and (max-width: 62.5em) {
    .products {
      grid-template-columns: [col-list-start] 1fr [col-list-end col-sidebar-start] 26vw [col-sidebar-end]; } }
  @media only screen and (max-width: 53.125em) {
    .products {
      grid-template-rows: [row-filter-start] 10rem [row-filter-end row-list-start] 1fr [row-list-end row-sidebar-start] auto [row-sidebar-end];
      grid-template-columns: [col-list-start] 1fr [col-sidebar-end]; } }
  .products__filter {
    grid-row: row-filter-start / row-filter-end;
    grid-column: col-list-start / col-list-end;
    padding: 1.3rem;
    padding-top: 1.8rem;
    background-color: #faf9f9; }
  .products__list {
    grid-row: row-list-start / row-list-end;
    grid-column: col-list-start / col-list-end; }
  .products__cart {
    grid-row: row-filter-start / row-list-end;
    grid-column: col-sidebar-start / col-sidebar-end;
    align-self: flex-start;
    background-color: #f2f2f2; }
    @media only screen and (max-width: 53.125em) {
      .products__cart {
        grid-row: row-sidebar-start / row-sidebar-end;
        grid-column: col-list-start / col-sidebar-end; } }
