.btn-1 {
    @include btn-default;
    padding: 0.5rem 3vw;
    border: 2px solid $color-primary-5;
    background-color: $color-primary-5;
    color:  $color-grey-light-1;
}

.close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1000;
    border: none;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.close-svg {
    width: 2rem;
    height: 2rem;
    fill: $color-primary-5;
}