// button {
//     padding: 0.6rem;
//     border: 0.1rem #c0c0c0 solid;
//     border-radius: 2rem;
//     background-color: #f0f0f0;
//     cursor: pointer;
//   }
  
//   button:hover {
//     border: 0.1rem #808080 solid;
//   }
  
  // .button-primary {
  //   background-color: #FFC321;
  // }

  .close-modal {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1000;
  }